

}
.info {
    color: black;
}


.resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    overflow: scroll;
    height: 900px;
}
  .profile2 {
      width: 45%;
      text-align: left;
  
  }
  .profile {
      width: 45%;
      text-align: right;
  }

  .info , .info2, .info3{
      font-family: "PT Sans";
      font-size: 14px;
  }
  .title, .title2 {
      font-family: "Oswald";
      margin-bottom: -10px;
      color: #3A9FFF;
  }
  .info2 {
      margin-bottom: -10px;
      font-style: italic;
  
  }