h1 {
    font-family: "Oswald";
    text-align: center;
    color: #3A9FFF;
    font-size: 40px;
    margin-bottom: 5px;
}
h5 {
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 1;
}
.ux{
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 5px solid white;    
}
.uxinfo {
    height: 80%;
    overflow: scroll;
}
.screenshots {
    text-align: center;
    margin: 0 auto;
}
.phone {
    text-align: center;
}
#ffd {
    width: 300px;
    height: auto;
}
 @media screen and (min-width: 450px) {
     .ux {
         display: inline;
         margin: 10px;
     }
 }