
.phones {
    text-align: center;
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.phone {
    height: 370px;
    width: auto;
}
#ffd {
    margin-left: 11px;
}
#ipadhome {
    margin-left: 4px;
}
 @media screen and (min-width: 450px) { 

 .phones {
        width: 600px;
        height: 900px;
        display: flex;
        flex-direction: column;
        margin-left: 4px;
 }
.phone {
        height: 600px;
        width: auto;
 }

 }